https://regex101.com/

#### Pattern Matching

In [2]:
#Allows to do Pattern Matching
import re

In [16]:
chat1 = 'Ritika: you ask lot of questions ðŸ˜– 1235678912,abc@xyz.com'
chat2 = 'Ritika: here it is: (123)-567-8912, abc@xyz.com' 
chat3 = 'Ritika: yes,phone: 1235678912, email: abc@xyz.com'

In [18]:
chat4 = 'Ritika: Hello, I am having an issue with my order # 412889912'
chat5 = 'Ritika: I have a problem with my order number 412889912'
chat6 = 'Ritika: My order 412889912 is having an issue, I was charged $300 when online it says $280'

In [24]:
pattern0 = '\d{10}'
matches = re.findall(pattern0,chat1)
print(matches)

# '\': used to do a literal match
pattern1 = '\(\d{3}\)-\d{3}-\d{4}'
matches = re.findall(pattern1,chat2)
print(matches)

pattern2 = '\d{10}|\(\d{3}\)-\d{3}-\d{4}'
matches = re.findall(pattern2,chat3)
print(matches)

pattern3 = '[a-z0-9A-Z_]*@[a-z0-9A-Z_]*\.[a-zA-Z]*'
matches = re.findall(pattern3,chat1)
email = matches[0]
email

pattern4 = "order[^\d]*(\d*)"
matches = re.findall(pattern4,chat4)
order = matches[0]
order

['1235678912']
['(123)-567-8912']
['1235678912']

'412889912'

#### Imformation Extraction

In [25]:
text = """
Born	Ratan Naval Tata
28 December 1937 (age 85)
Bombay, Bombay Presidency, British India
Alma mater	Cornell University (BArch)
Occupation(s)	Industrialist, Philanthropist
Title	Chairman Emeritus, Tata Sons and Tata Group[1]
Term	
1991â€“2012
2016â€“2017
Predecessor	J. R. D. Tata
Successor	
Cyrus Mistry (2012â€“2016)
Natarajan Chandrasekaran (2017â€“present)
Parent	Naval Tata
Relatives	Tata family
Awards	
Order of Australia (2023)
Assam Baibhav (2021)
Honorary Knight Grand Cross of the Order of the British Empire (2014)
Padma Vibhushan (2008)
Maharashtra Bhushan (2006)
Padma Bhushan (2000)
"""

In [49]:
text2 = """
Born	A. P. J. Abdul Kalam
15 October 1931 (age 83)
Rameswaram, Madras Presidency, British India (modernâ€“day Tamil Nadu, India)
Died	27 July 2015 (aged 83)
Shillong, Meghalaya, India
Resting place	Dr. A. P. J. Abdul Kalam Desiya Ninaivagam, Pei Karumbu, Rameswaram, Tamil Nadu, India
Political party	Independent[fn 1]
Alma mater	
St. Joseph's College, Tiruchirappalli (BEng)
Madras Institute of Technology (MEng)
Profession	
Aerospace ScientistAuthor
Awards	Full list
Notable work(s)	
Wings of Fire
India 2020
Ignited Minds
Indomitable Spirit
Transcendence: My Spiritual Experiences with Pramukh Swamiji
Signature	
Website	Official Website
Scientific career
Fields	Aerospace engineering
Institutions	
Defence Research and Development Organisation
Indian Space Research Organisation
"""

In [50]:
pattern = 'age (\d+)'
matches = re.findall(pattern,text)
matches

['85']

In [51]:
pattern = 'Born(.*)\n'
matches = re.findall(pattern,text)
matches[0].strip()

'Ratan Naval Tata'

In [52]:
pattern = "Born.*\n(.*)\(age"
matches = re.findall(pattern,text)
matches[0].strip()

'28 December 1937'

In [53]:
pattern = "\(age.*\n(.*)\n"
matches = re.findall(pattern,text)
matches[0].strip()

'Bombay, Bombay Presidency, British India'

In [54]:
def get_pattern_match(pattern,text):
    matches = re.findall(pattern, text)
    if matches:
        return matches[0]

In [55]:
get_pattern_match("\(age.*\n(.*)\n",text)

'Bombay, Bombay Presidency, British India'

In [56]:
def get_personal_information(text):
    age = get_pattern_match('age (\d+)',text)
    full_name = get_pattern_match('Born(.*)\n',text)
    birth_date = get_pattern_match("Born.*\n(.*)\(age",text)
    birth_place = get_pattern_match("\(age.*\n(.*)\n",text)

    return {
        'age': int(age),
        'name': full_name.strip(),
        'birth_date': birth_date.strip(),
        'birth_place': birth_place.strip()
    }

In [57]:
get_personal_information(text)

{'age': 85,
 'name': 'Ratan Naval Tata',
 'birth_date': '28 December 1937',
 'birth_place': 'Bombay, Bombay Presidency, British India'}

In [58]:
get_personal_information(text2)

{'age': 83,
 'name': 'A. P. J. Abdul Kalam',
 'birth_date': '15 October 1931',
 'birth_place': 'Rameswaram, Madras Presidency, British India (modernâ€“day Tamil Nadu, India)'}